.container {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--font);
}

.button {
  background-color: var(--font);
  color: var(--background);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.button:first-of-type {
  margin-right: 1rem;
}

.active {
  opacity: 1;
  -webkit-box-shadow: 9px 10px 9px -15px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 9px 10px 9px -15px rgba(0, 0, 0, 0.27);
  box-shadow: 9px 10px 9px -15px rgba(0, 0, 0, 0.27);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
