.container {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--font);
}

.button {
  opacity: 0.5;
}

.active {
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
