@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf8f9;
  --font: #815b64;
  --element-envy: #99aa99;
  --element-cameo: #ddaca2;
}

body {
  color: var(--font);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
